{% extends "admin_panel.html" %}
{% block content %}

 
<div class="card w-100">
    <div class="card-body text-left">
      <h5 class="card-title">Edit Brand</h5>
      <form action="{% url 'a:edit_brand' brand.id %}" method="POST">
            {% csrf_token %} 
            <div data-mdb-input-init class="form-outline mb-3">
            <p class="text-left m-0"><small>brand name</small></p>
            <input type="text" id="category_name" value="{{ brand.name }}" name="brand_name" placeholder="" required class="form-control">
            {% if 'invalid entry!' in error %}
                            <small class="text-danger">{{ error }}</small>
            {% endif %}
            </div>
            </div>
            <input type="submit" value="save changes" class="btn btn-warning">
    </form>
   </div>
   
     


 


{% endblock content %}