{% extends "profile.html" %}

{% block exhead %}
<li class="nav-item">
  <a class="nav-link text-dark bg-light rounded" href="{% url 'h:profile' %}">Personal Information</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark bg-light rounded" href="{% url 'h:orders' %}">My Orders</a>
</li>
<li class="nav-item">
  <a class="nav-link text-purple h5 bg-light rounded" href="{% url 'h:add_address' %}">New Addresses</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark bg-light rounded" href="#wish-list">wallet</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark bg-light rounded" href=href="{% url 'h:cart' %}">My Cart</a>
</li>
{% endblock exhead %}


{% block content %}
    <div class="site-section">


      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h2 mb-3 text-black">Edit address</h2>
          </div>
          <div class="col-md-7">

            <form action="{% url 'h:edit_address' address.id %}" method="POST">
              {% csrf_token %}
              <div class="p-3 p-lg-5 border shadow mb-3">

                 

                <div class="form-group row">

                  <div class="col-md-6">
                    <label for="c_fname" class="text-secondary">Name </label>
                    <input type="text" class="form-control" value="{{ address.name }}" id="name" name="name">
                  </div>
                  <div class="col-md-6">
                    <label for="c_lname" class="text-secondary">Pincode </label>
                    <input type="text" class="form-control" value="{{ address.pincode }}" id="pincode" maxlength="6" name="pincode">
                    <div class="container-fluid">
                      {% if error == 'invalid pincode!' %}
                      <small class="text-danger">{{error}}</small>
                      {% endif %}
                      </div>
                  </div>

                </div>
                <div class="form-group row">

                  <div class="col-md-12">
                    <label for="c_email" class="text-secondary">Address (Locality description) </label>
                    
                        <textarea class="form-control" id="area_desc" placeholder="House number, landmark..." name="area_desc" cols="5" rows="2">{{ address.area_desc }}
                        </textarea>
                        <div class="container-fluid">
                          {% if error == 'area description should be descriptive!' %}
                          <small class="text-danger">{{error}}</small>
                          {% endif %}
                          </div>
                  </div>

                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_email" class="text-secondary">city</label>
                    <input type="text" maxlength="10" class="form-control"value="{{ address.city }}" id="city" name="city" placeholder="">
                  </div>
                  <div class="col-md-6">
                    <label for="c_email" class="text-secondary">state</label>
                    <select class=" mb-3 form-control" id="state" name="state">
                      <option selected>Select State</option>
                      {% for state in states %}
                      {% if address.state.name == state.name %}
                      <option value="{{ state.name }}" selected> {{ state.name }} </option>
                      {% else %}
                      <option value="{{ state.name }}"> {{ state.name }} </option>
                      {% endif %}
                      {% endfor %}
                   </select>
                    </div>
              </div>
              

                <div class="form-group row">
                  
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="c_email" class="text-secondary">Mobile Number</label>
                        <input type="text" maxlength="10" value="{{ address.mobile_number }}" class="form-control" id="mobile_number" name="mobile_number" placeholder="">

                      </div>
                </div>


                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="submit" class="btn head-sec text-light btn-lg btn-block" value="Save Changes">
                  </div>
                </div>

              </div>
            </form>


          </div>

          {% endblock content %}

         