{% extends "checkout.html" %}
{% block content %}
<div class="bg-light py-3">
    <div class="container">
      <div class="row">
         
      </div>
    </div>
  </div>  
 
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          {% if status %}
          <span class="icon-check_circle display-3 text-success"></span>
          <h2 class="display-3 text-black">Thank you!</h2>
          <p class="lead mb-5">You order was successfuly completed.</p>
          {% else %}
          <span class="icon-times display-3 text-danger"></span>
          <h2 class="display-3 text-black">Sorry !</h2>
          <p class="lead mb-5">Something went wrong .</p>
          {% endif %}
          <p><a href="{% url 'h:shop' %}" class="btn btn-sm head-sec text-light">Back to shop</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}