 
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>{% block title %}Reset Password {% endblock title %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="">

    <!-- Template -->
    <link rel="stylesheet" href="{% static 'public/graindashboard/css/graindashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
  </head>

  <body class="">

    <main class="main">

      <div class="content">

			<div class="container-fluid pb-5">

				<div class="row justify-content-md-center">
					<div class="card-wrapper col-12 col-md-4 mt-5">
						<div class="brand text-center mb-3">
							<a href="/"><img class="invisible" src="images/Logo_png.PNG"></a>
						</div>
						<div class="card shadow">
                            {% block content %}
							<div class="card-body text-center">
								<h4 class="card-title text-purple"><strong>Reset Password</strong></h4>
								<form method="POST">
									{% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="submit" value="Send link" class="btn rounded head-sec text-white btn-block">
								</form>

							</div>
                            {% endblock content %}
						</div>
						<footer class="footer mt-3">
							<div class="container-fluid">
								<div class="footer-content text-center small">
									<span class="text-muted">&copy; TempoToys. All rights Reserved</span>
								</div>
							</div>
						</footer>
					</div>
				</div>



			</div>

      </div>
    </main>


	<script src="{% static 'public/graindashboard/js/graindashboard.js' %}"></script>
    <script src="{% static 'public/graindashboard/js/graindashboard.vendor.js' %}"></script>
    
  </body>
</html>




