{% extends "reset_password.html" %}
{% block title %}
check the mail
{% endblock title %}

{% block content %}
<div class="card shadow p-5 round">
    
    <div class="card-body text-center">
        <h4 class="card-title text-purple"><strong>Enter New Password</strong></h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Reset" class="btn rounded head-sec text-white btn-block">
        </form>

    </div>
</div>
{% endblock content %}